root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


# Enforced by Gentoo's policy

[*.ebuild]
indent_style = tab

[*.eclass]
indent_style = tab


# Not enforced but generally done this way

[*.xml]
indent_size = 2
indent_style = space
tab_width = 2

[.gitmodules]
indent_style = tab
